<launch>
    <arg name="id" />

    <!-- IMU -->
    <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
   >
    <remap
        from="/imu/data"
        to="/imu/data1"
        />
    </node>

    <!-- IMU -->
    <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver2">
        <param name="port" value="/dev/ttyACM1" />
        <param name="baud_rate" value="115200" />
   >
    <remap
        from="/imu/data"
        to="/imu/data2"
        />
    </node>

  <include file="$(find turtlebot2i_arm_director)/launch/named_pose_director.launch">
    <arg name="load_moveit" value="true"/>
  </include>

    <node pkg="labs" type="ImuControl.py" name="model_id"  output="screen"/>

</launch>
